body {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


/*-----------------------------------------*/


nav {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 20px;
    background-color: rgb(159, 155, 155);
}

nav #logo {
    height: 25px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/*-----------------------------------------*/

header {
    margin 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 142, 142);
    gap: 75px;
    padding: 25px;

}

header h1 {
    font-size: 50px;
}

header span {
    font-size: 25px;
}

header div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

header .button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

header #logo {
    width: 300px;
}

/*-----------------------------------------*/
main {
    border: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.jeux {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jeux {
    display: flex;
}

.jeux article {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

}

.jeux article img {
    width: 100%;
}

main section:not(.jeux) {
    margin 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 142, 142);
    gap: 75px;
    padding: 25px;
}

.stars img {
    width: 25px;
}


/*-----------------------------------------*/
footer{
    margin: 0px;
    width: 100%;
    background-color: grey;
}