body {
    margin: 0px;
    font-family: "Roboto", system-ui, sans-serif;
    color: #242f34;
}

.science-gothic {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: #494450;
    color: cornsilk;
    margin: 0;

}

#jeux .button {
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    font-style: italic;
}

header .button {
    border-radius: 15px;
    padding: 5px;
    font-style: italic;
}


/*-----------------------------------------*/

nav {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 25px 0px 25px 0px;
    background-color: rgb(143 141 128);
    box-shadow: 0 4px 8px 0 #e7e9bb;

}

.logo {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 #e7e9bb;

}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    flex-direction: row;
    margin: 0;
    justify-content: space-around;
    color: cornsilk;
    box-shadow: 0 4px 8px 0 #e7e9bb;

}

/*-----------------------------------------*/

header {
    display: flex;
    justify-content: space-around;
    gap: 75px;
    padding: 50px 15px 50px 15px;
    background: conic-gradient(#403b4a, #e7e9bb);
    box-shadow: 0 4px 8px 0 #e7e9bb;

}

header h1 {
    font-size: 45px;
    padding: 55px 0px 0px 0px;
    color: cornsilk;
    text-shadow: 2px 2px 0px #242f34;
    margin: 0;
}

header span {
    font-size: 25px;
    font-weight: 600;
}

header div {
    display: flex;
    flex-direction: column;
}

header ul {
    display: flex;
    width: 80%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 10px;
    align-items: center;
}

header p {
    font-style: italic;
    font-weight: 600;
    width: 60%;
}

header h4 {
    background-color: #242f34;
    color: cornsilk;
    border-radius: 15px;
    padding: 10px;
}

#Vitrine {
    width: 500px;
    height: 350px;
    border-radius: 100%;
    box-shadow: 0 4px 80px 0 cornsilk;
}


header img {
    width: 30px;
    padding-top: 5px;
}

/*-----------------------------------------*/
main {
    border: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;


}

/*-----------------------------------------*/

#jeux {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70Px 0px 160px 0px;
    background-color: #939182;

}

#jeux article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    padding: 12px;
    background: aliceblue;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 50px 0 cornsilk;
    background-image: url(embossed-diamond.webp);

}


#jeux div {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding: 0Px 15px 0px 15px;

}

#jeux img {
    width: 100%;
    border-radius: 15px;
}

#jeux p {

    text-align: justify;
    padding: 0px 5px 10px 5px;
    margin: 0;
        font-weight: 800;
}

#jeux h1 {
    color: cornsilk;
    font-size: 38px;
    padding: 40px;
}

#jeux h3 {
    color: #242f34 ;
    font-size: 22px;
}


/*-----------------------------------------*/

#avantages {
    width: 100%;
    padding: 70px 0px 70px 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #939182;


}

#avantages div {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    width: 100%;
}

#avantages article {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(124 119 132 / 41%);
    height: 180px;
    width: 180px;
    color: cornsilk;
    border-radius: 10px;
    border-radius: 100%;
}

#avantages p {
    font-size: 13px;
    text-align: center;
    margin: 0;
    color: cornsilk;
    font-weight: 700;
}

#avantages img {
    width: 50px;
    height: 50px;
}

#avantages h2,
h3 {
    color: cornsilk;
    border: 0;
}

/*-----------------------------------------*/


#témoignages {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px 50px 15px;
    background: linear-gradient(#939182, #c8c8a6, #8f8d80);
    font-family: "Raleway", sans-serif;
}
#témoignages h2{
        font-family: "Raleway", sans-serif;

}

.témoignages{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.identité {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
    align-items: center;
    font-style: italic;
    font-weight: 200;
}

#témoignages p {
    text-align: justify;
    font-size: 15px;


}

.identité img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.stars img {
    width: 15px;
    height: 15px;
}

.avis {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.span span {
    font-weight: 500;
    font-size: 50px;
}

.avis span {
    font-weight: bold;
}

/*-----------------------------------------*/
footer {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 50px 15px 0px 15px;
    background-color: rgb(143 141 128);
    font-family: "Raleway", sans-serif;
}

footer article {
    display: flex;
    flex-direction: column;
}

footer div {
    display: flex;
}

footer img {
    width: 30px;
    padding-top: 5px;
}

footer p {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 25px;
}